<div class="card-panel">
    <div class="search">
        <div class="search-wrapper card">
            <input id="search" placeholder="Pesquisar..." #input (keyup.enter)="search(input.value)">
            <i class="material-icons" (click)="search(input.value)">search</i>
        </div>
    </div>
    <br>
    <table class="striped">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th class="center">Liberações Restantes</th>
                <th class="center">Liberar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of alunos">
                <td>{{ a.matricula }}</td>
                <td>{{ a.nome }}</td>
                <td class="center">
                    {{ 3 - a.entradas }}
                </td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<paginacao [qtdPorPagina]="porPagina" [totalRegistros]="count" [qtdAdjacentes]="3" (onPaginate)="paginar($event)">
</paginacao>