<div class="card-content white-text">
    <h4>Tipos de Usuários
      <!-- Modal Trigger -->
        <a class="waves-effect waves-light right btn-floating btn-small modal-trigger green" (click)="openModal();this.acao='Cadastrar'">
            <i class="small material-icons">add</i>
        </a>
        <!-- <a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Modal</a> -->
    </h4>
    <table class="striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tipos | async">
                <td>{{ t.tipo }}</td>
                <td>{{ t.descricao }}</td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light red"><i class="material-icons">remove</i></a>
                </td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">mode_edit</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="white-text center orange darken-4 section fixed">
      <h4>Novo Tipo de Usuário</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="save(f.value);f.reset()">
        <div class="modal-body">
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">class</i>
                    <input placeholder="Tipo de Usuário" type="text" name="tipo" id="tipo" class="validate" ngModel required>
                    <label class="active" data-error="Preenchimento Obrigatório" for="tipo">Tipo</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea placeholder="Uma breve descrição..." id="descricao" name="descricao" class="materialize-textarea validate" ngModel required></textarea>
                    <label for="descricao" data-error="Preenchimento Obrigatório">Descrição</label>
                </div>
            </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn red darken-4 left" (click)="closeModal();f.reset()">Cancelar</a>
    <button type="submit" [disabled]="f.invalid" class="modal-action modal-close waves-effect waves-green btn blue darken-1 right" (click)="save(f.value);closeModal();f.reset()">{{ acao }}</button>
  </div>
</div>
