<div class="card-content white-text">
    <h4>Tipos de Usuários
        <button class="waves-effect waves-light right btn-floating btn-small green" (click)="modalOpen('Cadastrar')">
            <i class="small material-icons">add</i>
        </button>
    </h4>
    <table class="striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tipos | async">
                <td>{{ t.tipo }}</td>
                <td>{{ t.descricao }}</td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light red"><i class="material-icons">remove</i></a>
                </td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">mode_edit</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div class="ng-modal {{ display }}">
    <div id="modalEditar" class="ng-modal-body">
        <div class="modal-title white-text orange darken-4">
            Novo Tipo de Usuário
        </div>
        <form #f="ngForm" (ngSubmit)="save(f.value);f.reset()">
            <div class="modal-body">
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">class</i>
                        <input placeholder="Tipo de Usuário" type="text" name="tipo" id="tipo" class="validate" ngModel required>
                        <label class="active" data-error="Preenchimento Obrigatório" for="tipo">Tipo</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="Uma breve descrição..." id="descricao" name="descricao" class="materialize-textarea validate" ngModel required></textarea>
                        <label for="descricao" data-error="Preenchimento Obrigatório">Descrição</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn red darken-4 left" (click)="modalClose();f.reset()">Cancelar</a>
                <button type="submit" [disabled]="f.invalid" class="modal-action modal-close waves-effect waves-green btn blue darken-1 right">{{ acao }}</button>
            </div>
        </form>
    </div>
</div>