<div class="card-content white-text">
    <h4>Usuários
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light right btn-floating btn-small modal-trigger green" (click)="openModal();this.acao='Cadastrar'">
            <i class="small material-icons">add</i>
        </a>
    </h4>
    <table class="striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-Mail</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users | async">
                <td>{{ u.nome }}</td>
                <td>{{ u.email }}</td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light red" (click)="delete(u)"><i class="material-icons">remove</i></a>
                </td>
                <td class="center">
                    <a class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">mode_edit</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h5 class="white-text center orange darken-4 section">Novo Usuário</h5>
        <form #f="ngForm" (ngSubmit)="save(f.value);f.reset()">
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">person</i>
                    <input placeholder="Nome Completo" type="text" name="nome" id="nome" class="validate" ngModel required>
                    <label class="active" for="nome">Nome</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="fa fa-id-card-o prefix" aria-hidden="true"></i>
                    <input placeholder="Nome de Usuário" type="text" name="login" id="login" class="validate" ngModel required>
                    <label class="active" for="login">Login</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">email</i>
                    <input placeholder="E-Mail" type="email" name="email" id="email" class="validate" ngModel required>
                    <label class="active" for="email">E-Mail</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">vpn_key</i>
                    <input placeholder="Senha" type="password" name="senha" id="senha" class="validate" ngModel required>
                    <label class="active" for="senha">Senha</label>
                    <label class="red">{{ validaSenha(f.value.senha,f.value.senha2) }}</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">vpn_key</i>
                    <input placeholder="Confirmação de senha" type="password" name="senha2" id="senha2" class="validate" ngModel required>
                    <label class="active" for="senha-confirm">Confirmar Senha</label>
                    <label class="red">{{ validaSenha(f.value.senha,f.value.senha2) }}</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">class</i>
                    <select materialize="material_select" [materializeSelectOptions]="f.tipo" name="tipo" ngModel required>
              <option value="0">Escolha uma opção</option>
              <option *ngFor="let t of tipos | async" (value)="t.tipo">{{t.tipo}}</option>
            </select>
                    <label>Tipo de Usuário</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn red darken-4 left" (click)="closeModal();f.reset()">Cancelar</a>
        <button type="submit" [disabled]="f.invalid || validaSenha(f.value.senha, f.value.senha2) == 'As senhas não conferem!'" class="modal-action modal-close waves-effect waves-green btn blue darken-1 right" (click)="save(f.value);f.reset();closeModal()">{{ acao }}</button>
    </div>
</div>
